header {
    color: #687e5a;
    font-family: 'Balthazar', serif; 
}

body {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

nav {
    font-size: 2rem;
    background-color: #687e5a;
    padding: .5rem;
    margin-bottom: 10px;
    font-family: 'Balthazar', serif;
 }
 
 .navbar a:hover {
     background-color: #fffff0;
     color: #8aa37b;
     padding: .5rem;
 }
 
 .navbar a {
     text-align: center;
     text-decoration: none;
     color: #dcdcdc;
 }

 main p{
    font-family: 'Balthazar', serif;
    font-size: 1.5rem;
}

img {
    padding-right: 20px;
    float: left;
}

 footer {
    font-size: 1rem;
    text-align: center;
    font-family: 'Balthazar', serif;
}
